# Go to https://console.neon.tech/ and create a new project
# Project Dashboard > Tick Pooled Connection > Copy Connection URL
DATABASE_URL=

# Go to https://discord.com/developers/applications, 
# Create an app > oauth2 > general > client information
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Go to https://console.cloud.google.com/apis/credentials. 
# Choose project (or create new), then create credential for OAuth Client ID
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# generate via running `openssl rand -base64 32` in bash terminal
NEXTAUTH_SECRET=

# prefix for all database tables
TABLE_PREFIX=example_